a {
	color: rgb(255, 255, 255);
}
a:focus {
	color: rgb(255, 255, 255);
}
a:hover {
	color: rgb(255, 255, 255);
}
.btn-default {
	border: 1px solid rgb(255, 255, 255); border-image: none; color: rgb(51, 51, 51); text-shadow: none; background-color: rgb(255, 255, 255);
}
.btn-default:hover {
	border: 1px solid rgb(255, 255, 255); border-image: none; color: rgb(51, 51, 51); text-shadow: none; background-color: rgb(255, 255, 255);
}
.btn-default:focus {
	border: 1px solid rgb(255, 255, 255); border-image: none; color: rgb(51, 51, 51); text-shadow: none; background-color: rgb(255, 255, 255);
}
html {
	height: 100%; background-color: rgb(51, 51, 51);
}
body {
	height: 100%; background-color: rgb(51, 51, 51);
}
body {
	text-align: center; color: rgb(255, 255, 255); text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.site-wrapper {
	width: 100%; height: 100%; display: table; min-height: 100%; box-shadow: inset 0px 0px 100px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}
.site-wrapper-inner {
	vertical-align: top; display: table-cell;
}
.cover-container {
	margin-right: auto; margin-left: auto;
}
.inner {
	padding: 30px;
}
.masthead-brand {
	margin-top: 10px; margin-bottom: 10px;
}
.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	color: rgba(255, 255, 255, 0.75); padding-right: 0px; padding-left: 0px; font-size: 16px; font-weight: bold; border-bottom-color: transparent; border-bottom-width: 2px; border-bottom-style: solid;
}
.masthead-nav > li > a:hover {
	border-bottom-color: rgba(255, 255, 255, 0.25); background-color: transparent;
}
.masthead-nav > li > a:focus {
	border-bottom-color: rgba(255, 255, 255, 0.25); background-color: transparent;
}
.masthead-nav > .active > a {
	color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255);
}
.masthead-nav > .active > a:hover {
	color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255);
}
.masthead-nav > .active > a:focus {
	color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255);
}
@media all and (min-width:768px)
{
.masthead-brand {
	float: left;
}
.masthead-nav {
	float: right;
}
}
.cover {
	padding: 0px 20px;
}
.cover .btn-lg {
	padding: 10px 20px; font-weight: bold;
}
.mastfoot {
	color: rgba(255, 255, 255, 0.5);
}
@media all and (min-width:768px)
{
.masthead {
	top: 0px; position: fixed;
}
.mastfoot {
	bottom: 0px; position: fixed;
}
.site-wrapper-inner {
	vertical-align: middle;
}
.masthead {
	width: 100%;
}
.mastfoot {
	width: 100%;
}
.cover-container {
	width: 100%;
}
}
@media all and (min-width:992px)
{
.masthead {
	width: 700px;
}
.mastfoot {
	width: 700px;
}
.cover-container {
	width: 700px;
}
}
